HTTP_PORT=8181
NODE_ENV=development
KEYCLOAK_CONFIG={"realm": "the-realm-name","auth-server-url": "https://keycloak.some-example-host.come/auth/","ssl-required": "external","resource": "the-client-id","credentials": {"secret": "foobarblah"},"confidential-port": 0}
PRODUCT_API_URL=https://products-apicast-production.replace-me.com/products
